@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Outfit", sans-serif;
}


.outfit-uniquifier {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.webkits {
    color: transparent;
    font-family: 'Lato', sans;
    -webkit-text-stroke: 2px #555;
    background-color: #d309d3;
    opacity: 1;
    padding: 0px 15px;
    border-radius: 5px;
}
.webkits:hover {
    color: #e31;
    transition: 0.3s ease-in-out;
    opacity: 1;
}



a.active hr {
    display: block;
}

@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}
